body {
  margin: 0;
  font-family: sans-serif;
}

.sketch {
  border: 1px solid black;
}

form {
  margin-bottom: 1px;
  margin-top: 1rem;
  text-align: center;
}

form input {
  border: 0;
  box-shadow: 2px 2px 2px grey;
  padding: 4px 0;
}
form button {
  border: 0;
  color: white;
  background-color: grey;
  padding: 4px 15px;
  box-shadow: 2px 2px 2px grey;
}

.contact {
  background-color: #698cfc;
  color: white;
  margin: 1rem 8rem 0rem 8rem;
  padding: 0.5rem;
  display: flex;
}

.contact li {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

ul {
  list-style: none;
}

.delete-button {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.delete-button a {
  color: red;
}
